
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
}


.mine{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 0.2rem solid #381F0B;
    border-bottom: 0.2rem solid #381F0B;
    padding: 0 6rem;
}
.fontStyle{
    font-size: 1.4rem;
    margin-top: 10px;
    color: #8c8c8c;
}

.textMineHeight{
    line-height: 3rem;
    flex-grow: 1;
    text-align: center;
    font-size: 1.6rem;
    flex-basis: 35px;
}

.info{
    flex-grow: 2;
    display: flex;
}

.info img{
    width: 2.8rem;
    border: 0.2rem solid #381F0B;
    border-radius: 50%;
    max-height:2.8rem;
    margin: 1.2rem 0.4rem 0 1rem;
}


.wrap{
    background-color: #ccc;
    margin: 0 10%
}

.body{
    display: flex;
    padding: 0.2rem 10% 0.5rem 10%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.bodyitem{
    flex-basis: 110px;
    text-align: center;
    line-height: 3rem;
    font-size: 1.6rem;
    margin-left: 10px;
}
.body .bodyitem{
    color: #64DD17
}
.body:nth-child(1) .bodyitem ,.body:nth-child(2) .bodyitem ,.body:nth-child(3) .bodyitem {
    color:#E65100
}


.bodyitemInfo img{
    width: 2.4rem;
    border: 0.2rem solid #381F0B;
    border-radius: 50%;
    height: 2.4rem;
    margin-right: 0.6rem;
    margin-top: .2rem;
}

.bodyitemInfo{
    position: relative;
    line-height: 2rem;
    padding-top: 8px;
    flex-grow: 2;
}

.header{
    text-align: center;
    height: 4rem;
    line-height: 2.6rem;
}

.sfp{
    display: flex;
    width: 30%;
    margin-left: 12%;
}

.sfp div{
    line-height: 3rem;
    text-align: center;
    flex-grow: 1;
    flex-basis: 6rem;
    font-size: 1rem;
}



.sfpMine{
    display: flex;
    width: 30%;
    margin-left: 18%;
}
.sfpMine div{
    line-height: 3rem;
    text-align: center;
    flex-grow: 1;
}




@media screen and (max-width: 420px) {
    html{
       font-size:  90%
    }
   .mine{
       margin: 0;
       padding: 0;
   }
   .body{
       padding: 0.2rem 0 0.5rem 0;
   }
    .wrap{
        margin: 0;
    }
    .sfp{
        margin-left: 10%;
    }
    .info{
        flex-basis: 8rem;
        font-size: 1.2rem;
    }

}

